.form-group{
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.form-group input, select{
    width: 100%;
    height: 2vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group:nth-child(5){
    margin-bottom: 1vw;
}

#form-div button{
    border: none;
    height: 2em;
    width: 7em;
    border-radius: 0.8vw;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}