:root{
    --red: #F55353;
    --dark-red: #ac3b3b;
    --white: rgb(220, 220, 220);
    --black: #111;
    --background: #0f0e17;
    --headline: #fffffe;
    --paragraph: #c0c0c0;
    --stroke: black;
    --secondary: #f25f4c;
    --tertiary: #efcb68;
    --lightgrey: #e1efe6;
    --darkgrey: #aeb7b3;
}

body{
    padding: 0;
    margin: 0;
}

.background{
    position: absolute;
    z-index: -100;
    top: 4vw;
    opacity: 0.5;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
   mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)),;
   mix-blend-mode: overlay;
}

.title-text{
    text-align: center;
    margin-top: 2.5vw;
}

.title-text h1{
    font-size: 5vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
    color: var(--headline);
    text-decoration: underline !important;
    text-decoration-color: var(--secondary) !important;
    text-decoration-thickness: 5vw;
}

.paragraph{
    position: absolute;
    color: var(--paragraph);
    left: 10vw;
    top: 15vw;
    width: 40%;
    font-size: 1.75vw;
}

.button-area{
    position: absolute;
    left: 10vw;
    top: 39vw;
}

.bottom-button{
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.25vw;
    padding: 0.5vw 1vw;
    border-radius: 10px;
}

.bottom-button:hover{
    cursor: pointer;
}

.learn{
    background-color: var(--tertiary);
}

.learn:hover{
    background-color: black;
}

.create{
    background-color: var(--secondary);
    margin-left: 0.5em;
}

.create:hover{
    background-color: #c34646;
}

.stats-area{
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 47vw;
    transform: translateX(-50%);
}

.stat{
    text-align: center;
    margin: 0 5em;
}

.stat h1{
    font-size: 3.5vw;
    margin-bottom: -0.1em;
}

.stat h3{
    font-size: 2vw;
}

@media all and (max-width: 800px){
}