/* Listings Page */

#pageDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-header{
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    text-decoration: underline !important;
    text-decoration-color: red !important;
    text-decoration-thickness: 5vw;
    margin-bottom: 1.5vw;
}

.add-button{
    background: skyblue;
}

#search-input{
    width: 80%;
    margin-top: 1vw;
    height: 2vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.info-field{
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
}

.game-link-button{
    border: none;
    color: white;
    float: right;
    height: 2em;
    width: 7em;
    margin-left: 1em;
    margin-top: -0.75vw;
    border-radius: 0.8vw;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
}

.info-button{
    background-color: rgb(19, 133, 179);
}
.team-info-button{
    text-align: center;
    margin: 0 auto;
    display: flex;
    background-color: rgb(19, 133, 179);
}

.join-button{
    background-color: rgb(9, 152, 9);
}

.leave-button{
    background-color: var(--red);
}

.full-button{
    background-color: gray;
}

.game-poster{
    padding-left: 1em;
}

.game-header{
    font-family: 'Bebas Neue', cursive;
    padding-left: 1em !important;
}

.game-body{
    font-family: 'Akshar', sans-serif;
}

.info-field h5{
    display: inline-block;
    margin-right: 1em;
}

.game-card{
    margin-bottom: 0.25em;
    background-color: var(--paragraph) !important;
}

.game-link-button a{
    text-decoration: none;
    color: white;
}

.game-link-button h3{
    font-size: 1.15em;
    color: white;
    text-decoration: none;
}

.listings-header{
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
}

#search-results-div{
    margin-top: 1vw;
    width: 80%;
}