.navbar{
    margin-left: 4.5em;
    margin-right: 4.5em;
    display: flex;
    flex-direction: row;
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar li{
    text-decoration: none;
    display: inline;
    list-style: none;
    padding-top: 2vw;
    padding-bottom: 0.5vw;
    margin: 0 0.8em;
}

.navbar .links{
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 0.85em;
}

.navbar a{
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}

.navbar a:hover{
    cursor: pointer;
    color: rgba(17, 17, 17, 0.648);
}

.active{
    text-decoration: underline !important;
    text-decoration-color: red !important;
    text-decoration-thickness: 5vw;
    pointer-events: none;
}

.active:hover{
    cursor: default !important;
}

.navbar .logo{
    width: 4vw;
    height: 4vw;
}

.navbar .logo-text{
    color: var(--black);
    font-size: 4.5vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
}

.line{
    display: fixed;
    border-bottom: 1px solid #565a5c;
    position: absolute;
    top: 4.75vw;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}