/* Teams Page - Card Deck */

.background{
    background-color: var(--paragraph) !important;
    background-size: cover;
}

.teams-page-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    background-color: var(--paragraph) !important;
}

.teams-header{
    font-family: 'Bebas Neue', cursive;
    color: var(--headline);
    font-size: 3vw;
    text-decoration: underline !important;
    text-decoration-color: var(--secondary) !important;
    text-decoration-thickness: 5vw;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    width: 95%;
    position: absolute;
    top: 12vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vw;
    padding-top: 0 !important;
}

.team-card-body {
    color: var(--background);
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-family: 'Akshar', sans-serif;
}

.btn.btn-primary.stretched-link {
    background-color: var(--secondary);
    border: none;
}

/* Teams Page - Create Team Button */

.team-link-button{
    border: none;
    color: white;
    height: 2em;
    width: 7em;
    margin: 0 auto;
    border-radius: 0.8vw;
    display: block;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background: var(--secondary);
}

/* Individual Teams Page - Heading */

.d-flex.justify-content-center.align-items-center {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 300px;
}

.mb-3-name{
    font-weight: bold;
}

.btn.btn-outline-light.btn-lg {
    border-color: #F55353;
}

.btn.btn-primary.btn-lg.leave {
    background-color: #F55353;
    color: white; 
    border: none; 
}

.btn.btn-outline-light.btn-lg:hover {
    background-color: #F55353;
    color: white; 
}

.team-search-bar{
    margin-bottom: 1vw;
}

/* Individual Teams Page - Roster List */

.roster {
    padding: 1vw;
}

.roster-card{
    margin-left: 0;
    margin-right: 0;
}

.team-button{
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.25vw;
    padding: 0.5vw 1vw;
    border-radius: 10px;
    margin: 0.5vw 0.5vw;
    width: 5vw;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Akshar', sans-serif;
}

.join{
    background-color: var(--secondary);
}

.leave{
    background-color: var(--tertiary);
}

.team-header-area{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.568)), url('../Assets/team_img.jpeg') no-repeat top center ;
    width: 65vw;
    height: 15vw;
}

.team-header-info{
    margin-top: 2.5vw;
    text-align: center;
    color: var(--headline);
}

.team-header-info h1{
    font-family: 'Bebas Neue', cursive;
}

.team-header-info h4{
    font-family: 'Akshar', sans-serif;
}

.card-deck{
    margin-top: 15vw;
}