/* Teams Page - Card Deck */

.background{
    background-color: whitesmoke !important;
    background-size: cover;
}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 5vw;
}

.team-card-body {
    color: #F55353;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.btn.btn-primary.stretched-link {
    background-color: #F55353;
    border: none;
}

/* Teams Page - Create Team Button */

.team-link-button{
    border: none;
    color: white;
    height: 2em;
    width: 7em;
    margin: 0 auto;
    border-radius: 0.8vw;
    display: block;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background: skyblue;
}

/* Individual Teams Page - Heading */

.d-flex.justify-content-center.align-items-center {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 300px;
}

.mb-3-name{
    font-weight: bold;
}

.btn.btn-outline-light.btn-lg {
    border-color: #F55353;
}

.btn.btn-primary.btn-lg.leave {
    background-color: #F55353;
    color: white; 
    border: none; 
}

.btn.btn-outline-light.btn-lg:hover {
    background-color: #F55353;
    color: white; 
}

/* Individual Teams Page - Roster List */

.roster {
    padding: 1vw;
}