.background{
    background-color: whitesmoke !important;
    background-size: cover;
}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.team-card-body {
    color: #F55353;
}

.btn.btn-primary.stretched-link {
    background-color: #F55353;
}